version = 0.1

[dev.deploy.parameters]
stack_name = "askboard-dev"
region = "ap-southeast-1"
resolve_s3 = true
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
parameter_overrides = "Environment=dev DomainName=ama.anyhowonly.com HostedZoneId=REPLACE_WITH_HOSTED_ZONE_ID CertificateArn=REPLACE_WITH_US_EAST_1_CERTIFICATE_ARN ApiKeyExpiresEpoch=REPLACE_WITH_UNIX_TIMESTAMP MonthlyBudgetUsd=10 AdminEmail=REPLACE_WITH_ADMIN_EMAIL"
